@{
    ViewData["Title"] = "App Winform";
}

<div class="text-center">
    <h1 class="display-4">Chào mừng bạn đến với website tải app winform của công ty Hưng Hà</h1>
    <p>Nhấn vào đây để tới <a  asp-area="" asp-controller="Home" asp-action="Chat365">Chat365</a>.</p>
    <p>Nhấn vào đây để tới <a  asp-area="" asp-controller="Home" asp-action="TimViec365">TimViec365</a>.</p>
    <p>Nhấn vào đây để tới <a  asp-area="" asp-controller="Home" asp-action="HR">HR</a>.</p>
    <p>Nhấn vào đây để tới <a  asp-area="" asp-controller="Home" asp-action="QLTaiSan">Quản Lý Tài Sản</a>.</p>
</div>