@*@{
    ViewData["Title"] = "Quản Lý Tài Sản";
}
<div class="text-center">
   <h1>@ViewData["Title"]</h1>
 <p>Nhấn vào đây để tải app <a  asp-area="" asp-controller="Install" asp-action="QuanLyTaiSan">Quản Lý Tài Sản</a>.</p>
</div>*@