@*@{
    ViewData["Title"] = "TimViec365";
}
<div class="text-center">
  <h1>@ViewData["Title"]</h1>
  <p>Nhấn vào đây để tải app <a asp-area="" asp-controller="Install" asp-action="TimViec365">TimViec365</a>.</p>
</div>*@